<table class="table table-hover">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th scope="row" >{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#taskModal" (click)="onSelect(task)">Details</button>
                <button class="btn btn-danger">Remove</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>#Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table><!-- ./end of tasks table -->

<task-detail></task-detail>