<table class="table table-hover">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <th scope="row" >{{ task.id }}</th>
            <td>{{ task.title }}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#taskModal" (click)="onSelect(task)">Details</button>
                <button class="btn btn-danger">Remove</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>#Id</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table><!-- ./end of tasks table -->

<div *ngIf="selectedTask" class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">Task Detail: {{ selectedTask.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <input [(ngModel)]="selectedTask.title" type="text" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>  <!-- ./End of task with selected modal -->